* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  transition: all 0.3s;
  letter-spacing: 1px;
}
body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 30px;
}
.Container {
  width: 380px;
}
.formDiv {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(212, 212, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titleImg {
  margin: 0 0 0 65px;
}
.title {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 23px;
}
#email {
  padding: 14px 16px;
  outline: none;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 6px;
  font-size: 17px;
  width: 330px;
  margin-bottom: 10px;
}
#pass {
  padding: 14px 16px;
  outline: none;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 6px;
  font-size: 17px;
  width: 330px;
  margin-bottom: 10px;
}
.logInBtn {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  color: white;
  padding: 0 16px;
  width: 332px;
  cursor: pointer;
}
.logInBtn:hover {
  background-color: rgb(10, 107, 235);
}
.frgt {
  padding: 10px;
  text-align: center;
  margin: 5px 0;
}
.frgt a {
  text-decoration: none;
  color: rgb(0, 110, 255);
  font-size: 14px;
}
.frgt a:hover {
  text-decoration: underline;
}
.hr {
  margin-top: -5px;
}
.hr span {
  margin-left: 8px;
  margin-right: 8px;
  width: auto;
  margin-bottom: 10px;
}
.hrspan {
  display: block;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-right: 2100px;
  margin-top: 0px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  width: 330px;
}
.newAcnt {
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  text-align: center;
  background-color: #42b72a;
  border: #42b72a;
  width: max-content;
  margin-bottom: 10px;
}
.newAcnt > a {
  color: white;
  padding: 0 16px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: normal;
  font-family: inherit, sans-serif;
}
.newAcnt:hover {
  background-color: #2e9919;
}
@media screen and (max-width: 385px) {
  body {
    width: 385px;
  }
}
